<a href="/#accounts/<%= account.get("id") %>" class="account-link" data-id="<%= account.get("id") %>"><%= account.institution().escape("name") %> - <%= account.escape("account_type") %>(<%= account.escape("identifier") %>)</a>
<p>$<%= account.amount %></p>
