<a href="/#accounts/<%= account.get("id") %>" class="account-link" data-id="<%= account.get("id") %>">
<div class="left-side-acct"><%= account.institution().escape("name") %>
<br><a class="account-list-type"><%= account.escape("account_type") %>(<%= account.escape("identifier") %>)</a>
</div>
<p>$<%= parseInt(account.amount).toLocaleString() %></p></a>
