


<h1>Add New Account</h1><br>
  <label for="acct-inst-name">Institution Name: </label><br>
  <select name="institution_id" id="acct-inst-name">
    <% institutions.forEach(function(institution){ %>
      <option value="<%= institution.escape("id") %>"><%= institution.escape("name") %></option>
    <% }) %>
    <option value="">Other</option>
  </select><br>

  <div class="display-none" id="hidden-input">
    <label>Other Institution Name: </label><br>
    <input id="acct-inst-name" type="text" name="institution_name" value="<%= account.escape("name") %>">
  </div><br>

  <label>Last 4 digits of Account# or Unique Identifier: </label><br>
  <input id="acct-identifier" type="text" name="identifier" value="<%= account.escape("identifier") %>"><br>

  <label for="acct-type">Account Type: </label><br>
  <select name="account_type" id="acct-type">
    <% types.forEach(function(type){ %>
      <option value="<%= type %>"><%=type%></option>
    <% }) %>
  </select><br><br>

  <button class="create-new">Create Account</button> or <a class="cancel-form" href="#">Cancel</a>
