
  <td><%= bill.dateFormat() %></td>
  <td><%= instName %> <%= accountInfo %></td>
  <td>$<%= parseInt(bill.escape("amount")).toLocaleString() %></td>
  <td><button class="delete-bill" data-id="<%= bill.escape("id") %>">Delete</button></td>
