
<div class="budgettitle"><%= budget.escape("category") %>: $ <%=parseInt(total).toLocaleString()%> of $ <%=parseInt(budget.escape("amount")).toLocaleString()%>  </div>

<div id="<%= budgetClass %>" class="budget-chart"></div>
    <script type="text/javascript">
        $(function () {
          $('<%= "#" + budgetClass %>').highcharts({
          chart: {
              type: 'bar'
          },
          title: {
              text: '',
              style: {
                "fontSize": "14px"
              },
              marginTop: 2
          },
          xAxis: {
              lineWidth: 0,
              minorGridLineWidth: 0,
              lineColor: 'transparent',
              minorTickLength: 0,
              tickLength: 0,
              labels: {
               enabled:false
              }
         },
          yAxis: {
              title: {
                text: null
              },
              max: <%= budget.escape("amount") %>,
              labels: {
               enabled:false
              },
              lineWidth: 0,
              minorGridLineWidth: 0,
              lineColor: 'transparent',
              minorTickLength: 0,
              tickLength: 0,
              gridLineColor: 'transparent'
          },
          legend: {
              enabled: false
          },
          series: [{
              data: [{y: <%= parseInt(total) %>, color: "<%= (parseInt(total) > parseInt(budget.escape("amount"))) ?
              "red" : "green" %>"}]
          }]
      });
    });
</script>
