<h1> Add a Transaction</h1>

<label for="account">Account: </label><br>
<select name="account_id" id="account">
  <% accounts.forEach(function(account){ %>
    <% var selected = ""; %>
    <% if (account.get("id") === id) { selected = "selected" } %>
    <option <%= selected %> value="<%= account.get("id") %>"><%= account.institution().escape("name") %> - <%= account.get("account_type") %>(<%= account.get("identifier") %>)</option>
    if (account.get("id") === id)
<% }) %>
</select><br>


<label for="date">Date: </label><br>
<input id="date" type="date" name="transaction_date" value="<%= model.escape("transaction_date") %>"><br>

<label for="description">Description: </label><br>
<input id="description" type="text" name="description" value="<%= model.escape("description") %>"><br>

<label for="category">Category: </label><br>
<select name="category" id="category">
  <% categories.forEach(function(category){ %>
    <% var selected = ""; %>
    <% console.log(category) %>
    <% console.log(model.get("category")) %>
    <% if (model.get("category") === category) { selected = "selected" } %>
    <option value="<%= category %>" <%= category === model.escape("category") ? "selected" : "" %>><%= category %></option>
  <% }) %>
</select><br>

<label>Type:</label><br>

<input id="type1" name="type_trans" type="radio" value="1" <%= parseInt(this.model.escape("amount")) > 0  ? "checked" : "" %>>
<label class="income-label" for="type1">Income/Repayment</label><br>

<input id="type2" type="radio" name="type_trans" value="-1" <%= parseInt(this.model.escape("amount")) < 0  ? "checked" : "" %>>
<label class="income-label" for="type2">Expense</label><br>

<label for="amount">Amount: </label><br>
  <label>$</label> <input id="amount" type="number" name="amount" value="<%= Math.abs(model.escape("amount")) %>"><br>

<label for="notes">Notes: </label><br>
<label><textarea id="notes" name="notes"><%= model.escape("notes") %></textarea><br></label>

<button class="create-transaction">Create Transaction</button> or <a class="cancel-form" href="#">Cancel</a>
