<h1> New Transaction </h1>

<label for="date">Date: </label><br>
<input id="date" type="date" name="transaction_date" value="<%= model.escape("transaction_date") %>"><br>

<label for="description">Description: </label><br>
<input id="description" type="text" name="description" value="<%= model.escape("description") %>"><br>

<label for="category">Category: </label><br>
<input id="category" type="category" name="category" value="<%= model.escape("category") %>"><br>

<label for="amount">Amount: </label><br>
$ <input id="amount" type="number" name="amount" value="<%= model.escape("amount") %>"><br>

<label for="type">Type: </label><br>
<input id="type" type="string" name="transaction_type" value="<%= model.escape("transaction_type") %>"><br>

<label for="notes">Notes: </label><br>
<textarea id="notes" name="notes"><%= model.escape("notes") %></textarea><br>

<button class="create-transaction">Create Transaction</button> or <a class="cancel-form" href="#">Cancel</a>
