<div class="main-log-div">
  <div class="group" id="sidebar">
    <div class="group accounts-top">
      <h1>Totals by Type</h1>
    </div>

      <section class="account-summary">
        <div class="account-summary-trend group">
          <p class="title">Cash</p>
          <p class="amount">$ <%= accounts.cash().toLocaleString() %> </p>
        </div>

        <ul class="cash">

        </ul>
      </section>

      <section class="account-summary">
        <div class="account-summary-trend group">
          <p class="title">Credit Cards</p>
          <p class="amount">$ <%= accounts.credit().toLocaleString() %></p>
        </div>
        <ul class="credit">
        </ul>
      </section>

      <section class="account-summary">
        <div class="account-summary-trend group">
          <p class="title">Loans</p>
          <p class="amount">$ <%= accounts.loans().toLocaleString() %></p>
        </div>
        <ul class="loan">
        </ul>
      </section>

      <section class="account-summary">
        <div class="account-summary-trend group">
          <p class="title">Investments</p>
          <p class="amount">$ <%= accounts.investments().toLocaleString() %></p>
        </div>
        <ul class="investment">
        </ul>
      </section>

      <section class="account-summary">
        <div class="account-summary-trend group">
          <p class="title">Property</p>
          <p class="amount">$ <%= accounts.property().toLocaleString() %></p>
        </div>


        <ul class="property">

        </ul>
      </section>


    <section class="assets-debts group">
      <div class="assets-debts-item group">
        <p class="assets-debts-title">
          Assets:
        </p>
        <p class="assets-debts-amount">
          $ <%= (accounts.cash() + accounts.investments() + accounts.property()).toLocaleString() %>
        </p>
      </div>

      <div class="assets-debts-item group">
        <p class="assets-debts-title">
          Debt:
        </p>
        <p class="assets-debts-amount">
          $ <%= (accounts.loans() + accounts.credit()).toLocaleString() %>
        </p>
      </div>

      <div class="assets-debts-item group assets-total">
        <p class="assets-debts-title">
          Assets:
        </p>
        <p class="assets-debts-amount">
          $ <%= (accounts.cash() + accounts.investments() + accounts.property() + accounts.loans() + accounts.credit()).toLocaleString() %>
        </p>
      </div>



    </section>

    <div class="trends-title group">
      <h1>Trends</h1>
    </div>


    <section class="cash-credit">
      <div id="cash-credit" style="width:100%; height:200px;"></div>
          <script type="text/javascript">
              $(function () {
                $('#cash-credit').highcharts({
                chart: {
                    type: 'bar'
                },
                title: {
                    text: 'Cash vs. Credit Card Debt',
                    style: {
                      "fontSize": "14px"
                    },
                    marginTop: 2
                },
                xAxis: {
                    categories: ['Cash', 'Debt', 'Net'],
                    lineWidth: 0,
                    minorGridLineWidth: 0,
                    lineColor: 'transparent',
                    minorTickLength: 0,
                    tickLength: 0
               },
                yAxis: {
                    title: {
                      text: null
                    },

                },
                legend: {
                    enabled: false
                },
                series: [{
                    name: "Total",
                    data: [{y: <%= (accounts.cash()) %>, color: "green"}, {y:<%= -(accounts.credit())%>, color: "red"},
                      {y: <%= (((accounts.cash()) + (accounts.credit())) > 0) ? (((accounts.cash()) + (accounts.credit()))) :
                       -(((accounts.cash()) + (accounts.credit()))) %> , color: "<%= (((accounts.cash()) + (accounts.credit())) > 0) ?
                       "green" : "red" %>" } ]
                }]
            });
          });
      </script>
    </section>

<section class="six-month-net-income">
  <% var monthsData = [] %>
  <% var incomeData = [] %>
  <% var currDate = new Date() %>
  <% var currDate = new Date( currDate.getYear() + 1900, currDate.getMonth()-5, currDate.getDate()) %>
  <% for(var i = 1; i < 7; i++) {%>
    <% var y = currDate.getFullYear(), m = (currDate.getMonth()) %>
    <% var firstDay = new Date(y, m, 0) %>
    <% var lastDay = new Date(y, m + 1, 0) %>
    <% var incomeAndSpend = { income: 0, spend: 0 } %>
    <% var months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]%>

    <% if (this.collection.length > 0) { %>
      <% this.collection.each(function(account){ %>
        <% var newIncomeAndSpend = account.transactions_time(firstDay, lastDay) %>
        <% incomeAndSpend.income += newIncomeAndSpend.income %>
        <% incomeAndSpend.spend += newIncomeAndSpend.spend %>
      <% }) %>
    <% } %>

    <% monthsData.push(months[currDate.getMonth()]) %>
    <% incomeData.push(incomeAndSpend.income + incomeAndSpend.spend) %>
    <!-- <br><h3><%=months[currDate.getMonth()]%> Net Income</h3>
    Income: <%= incomeAndSpend.income %>
    Spend: <%= incomeAndSpend.spend %>
    <br> -->
    <% currDate.setMonth(currDate.getMonth() + 1) %>
  <% } %>

</section>

<div id="net-income-chart" style="width:100%; height:200px;"></div>
  <% if (monthsData.length > 0) { %>
    <script type="text/javascript">
      $(function () {
        $('#net-income-chart').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: 'Net Income',
                style: {
                  "fontSize": "14px"
                },
                marginTop: 2
            },
            xAxis: {
                categories: [
                    "<%= monthsData[0]%>",
                    "<%= monthsData[1] %>",
                    "<%= monthsData[2] %>",
                    "<%= monthsData[3] %>",
                    "<%= monthsData[4] %>",
                    "<%= monthsData[5] %>"
                ],
                crosshair: true
            },
            yAxis: {
                title: {
                    text: null
                    }
            },
            legend: {
                enabled: false
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:.1f} mm</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: [{
                name: 'Income',
                data: [
                { y: <%= incomeData[0] %>, color: "<%= incomeData[0] > 0 ? "green" : "red" %>" },
                { y: <%= incomeData[1] %>, color: "<%= incomeData[1] > 0 ? "green" : "red" %>" },
                { y: <%= incomeData[2] %>, color: "<%= incomeData[2] > 0 ? "green" : "red" %>" },
                { y: <%= incomeData[3] %>, color: "<%= incomeData[3] > 0 ? "green" : "red" %>" },
                { y: <%= incomeData[4] %>, color: "<%= incomeData[4] > 0 ? "green" : "red" %>" },
                { y: <%= incomeData[5] %>, color: "<%= incomeData[5] > 0 ? "green" : "red" %>" }]
            }]
        });
    });
    </script>
  <% } %>


</section>


</div>


<div class="main-window">
<div id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
<script type="text/javascript">
$(function () {
    $('#container').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: 'Spending over last 30 days'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            }
        },
        series: [{
            name: "Categories",
            colorByPoint: true,
            data: [
              <% collection.forEach( function(cat){ %>
              <% if (parseInt(cat[1]) !== 0) { %>
                {
                  name: "<%= cat[0] %>",
                  y: <%= parseInt(cat[1]) %>
                },
                <% } %>
              <% }) %>]
        }]
    });
});
</script>


<div id="debt-chart" style="width:100%; height:400px;"></div>
  <% if (debt.length > 0) { %>
    <script type="text/javascript">
      $(function () {
        $('#debt-chart').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: 'Total Debt',
                style: {
                  "fontSize": "14px"
                },
                marginTop: 2
            },
            xAxis: {
                categories: [
                    "<%= debt[0][0]%>",
                    "<%= debt[1][0] %>",
                    "<%= debt[2][0] %>",
                    "<%= debt[3][0] %>",
                    "<%= debt[4][0] %>",
                    "<%= debt[5][0] %>"
                ],
                crosshair: true
            },
            yAxis: {
                title: {
                    text: null
                    }
            },
            legend: {
                enabled: false
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:.1f} mm</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: [{
                name: 'Total Debt',
                data: [
                { y: <%= -debt[0][1] %>, color: "<%= debt[0][1] < 0 ? "red" : "red" %>" },
                { y: <%= -debt[1][1] %>, color: "<%= debt[1][1] < 0 ? "red" : "red" %>" },
                { y: <%= -debt[2][1] %>, color: "<%= debt[2][1] < 0 ? "red" : "red" %>" },
                { y: <%= -debt[3][1] %>, color: "<%= debt[3][1] < 0 ? "red" : "red" %>" },
                { y: <%= -debt[4][1] %>, color: "<%= debt[4][1] < 0 ? "red" : "red" %>" },
                { y: <%= -debt[5][1] %>, color: "<%= debt[5][1] < 0 ? "red" : "red" %>" }]
            }]
        });
    });
    </script>
  <% } %>





</section>

  </div>
    <div class="modal-window group display-none"></div>
</div>
