<!DOCTYPE html>
<html>
<head>
  <title>Sixth Cents</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body>

    <% if !flash.now[:errors].nil? %>
      <ul>

          <% flash.now[:errors].each do |error| %>
            <li><%= error %></li>
          <% end %>

      </ul>
    <% end %>


<%= yield %>

</body>
</html>
