<!DOCTYPE html>
<html>
<head>
  <title>Sixth Cents</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="top-bar group">
    <a href="#" class="main-logo">Sixth Cents</a>

    <% if logged_in? %>
      <form class="logout-button" action="<%= session_url %>" method="post">
        <%= form_auth %>
        <input type="hidden" name="_method" value="delete">
        <button name="logout">Logout</button>
      </form>
    <% else %>
      <div class="logging-links">
        <a href="<%=  new_session_url %>">Login</a>
        <a href="<%=  new_user_url %>">Sign Up!</a>
      </div>
    <% end %>
  </div>

  <ul>
    <% if !flash.now[:errors].nil? %>
      <% flash.now[:errors].each do |error| %>
        <li><%= error %></li>
      <% end %>
    <% end %>
  </ul>

<%= yield %>

</body>
</html>
